{%extends "base.html" %}
{%block content%}


<div class="container">
  <div class="row">
    <div class="col-sm-4">
    <!--PIRMAS-->
    <div class="container">
        <h2 class="font-weight-light"> Vilnius</h2>
            <p><a href=vilnius>
                <button class="btn btn-primary">Peržiūrėti</button></a>
            </p>
    </div>

    </div>
    <div class="col-sm-4">
    <!--PIRMAS-->
        <div class="container">
            <h2 class="font-weight-light"> Kaunas</h2>
                <p> <a href=kaunas >
                    <button class="btn btn-primary">Peržiūrėti</button></a>
                </p>
        </div>
    </div>

    <div class="col-sm-4">
    <!--PIRMAS-->
        <div class="container">
            <h2 class="font-weight-light"> Marijampolė</h2>
                <p> <a href=marijampole>
                    <button class="btn btn-primary">Peržiūrėti</button></a>
                </p>
        </div>
    </div>
  </div>
</div>

{%endblock%}